.my_container {
  max-width: 1600px !important;
}

/* Navbar */
.navbar_toggle_icon {
  border-radius: 50%;
}
.nav-link.active {
  color: #49499d !important;
  font-weight: bold;
}

/* Brands */
.brand-track {
  width: max-content;
  animation: scroll-left 50s linear infinite;
}

.brand_swiper {
  width: 150px;
  height: auto;
}

/* Brand Animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.map_text {
  max-width: 972px;
}
.Frequent_ask_height {
  height: 80px;
}

/* things u can do section */
.things_card {
  max-width: 382px;
}
.things_card :hover {
  background-color: #49499d;
  color: white;
  border-radius: 5%;
}
.things_icon {
  opacity: 1;
  z-index: 1;
}
.things_hover_icon {
  opacity: 0;
  z-index: 2;
}
.things_card:hover .things_hover_icon {
  opacity: 1;
}
.card-hover-rotate {
  transition: transform 0.5s ease;
}

.card-hover-rotate:hover {
  transform: rotate(-3deg);
}

/* Contact */
.contact_input {
  max-width: 420px;
  border: none;
  border-bottom: 1px solid black !important;
}
.contact_about_more {
  max-width: 963px;
  border: none;
  border-bottom: 1px solid black;
}
.contact_input,
.contact_about_more:focus {
  outline: none;
}
.contact_button {
  max-width: 230px;
}
/* Testimonial */
.Testimonial_text {
  max-width: 800px;
}
/* service */
.service_text {
  width: 662px;
}

.services_card_text {
  width: 716px;
}

.service_gap {
  gap: 90px;
}

/* Footer */
.footer_support {
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
.footer_links {
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}

/* Software section */

.icon_background_line {
  width: 2%;
  height: 3vh;
}
/* tech stack */
.tech_box {
  height: 120px;
  width: 120px;
  border-radius: 20px;
}
.tech_text {
  max-width: 750px;
}
.tech_middle_layer {
  max-width: 1500px;
}

/* Project */
.rectangle {
  width: 992px;
  aspect-ratio: 992 / 686;
}

.project_text {
  left: -4%;
  bottom: -4%;
}

@media (max-width: 576px) {
  .tech_box {
    max-height: 38px;
    max-width: 38px;
    border-radius: 8px;
  }
  .service_text {
    max-width: 370px;
  }
  .services_card_text {
    max-width: 316px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .tech_box {
    max-height: 48px;
    max-width: 48px;
    border-radius: 10px;
  }
  .tech_middle_layer {
    width: 100%;
    max-width: 650px;
  }
  .project_text {
    left: -3%;
  }
  .Banner_img {
    max-width: 500px;
  }
  .services_card_text {
    max-width: 416px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .logo_img {
    max-width: 200px;
  }
  .tech_box {
    height: 80px;
    width: 80px;
  }

  .tech_middle_layer {
    width: 100%;
    max-width: 900px;
  }
  .project_text {
    left: 2%;
    bottom: -5%;
  }
  .Banner_img {
    max-width: 600px;
    height: 725px !important;
  }
  .project_button_size {
    width: 155px;
  }
  .services_card_text {
    max-width: 516px;
  }
}
/* Loader.css */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #49499d;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.custom-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  left: -250%;
  width: 100vw;
  max-width: 1100px;
  transform: translateY(-10px);
}

.custom-dropdown.show-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}


