.work_img{
    width: 100%;
    height: 770px;
}
.work_img2{
    width: 100%;
    height: 970px;
}
.Work_Card {
  margin-top: 20%;
}
@media (max-width:576px){
  .Work_Card {
    margin-top: 0%;
  }
}
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.85);
  animation: fadeIn 0.3s ease forwards;
}

.modal-content-iframe {
  width: 90%;
  height: 90%;
  transform: scale(0.85);
  animation: scaleIn 0.4s ease forwards;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
}

.modal-header {
  position: absolute;
  top: -2%;
  right: 1rem;
  z-index: 2;
}

.close-btn {
  color: #fff;
}

/* Animations */
@keyframes scaleIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.85);
  }
}
