.what_we_do_container {
  border: 5px solid #e4e4e4;
}

.solution_desk_radius {
  border-radius: 70px;
}
.solution_desk_text {
  max-width: 452px;
}
.btn-transparent {
  background-color: transparent;
  border: none;
  color: #000; /* Change as needed */
}
.btn-outline-dark:hover {
  background-color: black;
  color: white;
}

@media (max-width: 576px) {
  .solution_desk_radius {
    border-radius: 30px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .solution_desk_text {
    max-width: 652px;
  }
}

@media (min-width: 992px) {
  .what_we_do_container {
    height: 85vh;
  }
}
.fullscreen-form-modal {
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.6); /* Optional */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transform-origin: center center; /* default fallback */
}


.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.85);
  }
}

@keyframes scaleFromOrigin {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* invisible placeholder to preserve layout height */
.map-wrapper .placeholder {
  visibility: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.map-img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.map-img.grayscale {
  z-index: 1;
  filter: grayscale(100%);
}

.map-img.colored {
  z-index: 2;
  clip-path: circle(0% at 50% 50%);
}